@charset "UTF-8";

/* body */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pretendard Variable';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #333;
    min-width: 1320px;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FBBB48;
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 3px;
    scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
    background-color: #F5F0E0;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #F9D693;
}

/* 섹션간격 */
.section-padding {
    padding: 75px 0;
}

/* 제목 */
h1,
h2,
h3 {
    font-family: paperlogy;
}

h1 {
    font-size: 32px;
}

h1,
h2 {
    font-weight: 600;
}

h3 {
    color: #F78D31;
    font-size: 20px;
    font-family: 'Paperlogy';
    font-weight: 500;
}


/* 헤더 */
#header {
    width: 1920px;
    padding: 15px 0;
    border-bottom: 1px solid #F9D693;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0.4%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.top {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_logo {
    display: block;
    width: 60px;
}

.nav {
    display: flex;
    gap: 80px;
}

.nav a {
    font-family: 'Paperlogy';
    font-size: 16px;
    font-weight: 400;
    color: #ffba3b;
}

.nav a:hover {
    color: #fff;
    font-weight: 500;
}

/* 풀스크린 */
.main-box {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    padding-bottom: 75px;
    margin: auto;
    position: relative;
}

/* 마우스 휠 */
.mouse-icon {
    position: absolute;
    left: 50%;
    bottom: 17rem;
    border: 1.5px solid #FFFAEF;
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin-left: -17px;
    display: block;
    z-index: 10;
}

.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background: #FFFAEF;
    width: 4px;
    height: 10px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}


@keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}


/* 브랜드 */
#brand {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-text h1 {
    margin-bottom: 30px;
}

.brand-text h4 {
    font-family: paperlogy;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 10px;
}

.brand-text p {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}


/* 이벤트 */
#event {
    width: 1320px;
    margin: auto;
}

.evt-box1 {
    display: flex;
    justify-content: space-between;
}

.evt-box1 li {
    width: 145px;
    text-align: center;
}

.evt-box1 a {
    width: 145px;
    height: 145px;
    background-color: #F6F6F6;
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
}

.evt-box1 h4 {
    font-family: paperlogy;
    font-weight: 500;
    font-size: 16px;
}

/* 이벤트 박스1  버튼 */
.evt-btn1 {
    background: url(../images/map.svg) no-repeat center center;
    background-size: 80px;
}

.evt-btn1:hover {
    background: url(../images/map-on.svg) no-repeat center center, linear-gradient(to bottom, rgb(184, 195, 255), rgba(255, 245, 209));
    background-size: 80px;
}

.evt-btn2 {
    background: url(../images/van.svg) no-repeat center center;
    background-size: 80px;
}

.evt-btn2:hover {
    background: url(../images/van-on.svg) no-repeat center center, linear-gradient(to bottom, rgb(184, 195, 255), rgba(255, 245, 209));
    background-size: 80px;
}

.evt-btn3 {
    background: url(../images/bell.svg) no-repeat center center;
    background-size: 80px;
}

.evt-btn3:hover {
    background: url(../images/bell-on.svg) no-repeat center center, linear-gradient(to bottom,  rgb(184, 195, 255), rgba(255, 245, 209));
    background-size: 80px;
}

.evt-btn4 {
    background: url(../images/notice.svg) no-repeat center center;
    background-size: 80px;
}

.evt-btn4:hover {
    background: url(../images/notice-on.svg) no-repeat center center, linear-gradient(to bottom,  rgb(184, 195, 255), rgba(255, 245, 209));
    background-size: 80px;
}

.evt-btn5 {
    background: url(../images/pets.svg) no-repeat center center;
    background-size: 80px;
}

.evt-btn5:hover {
    background: url(../images/pets-on.svg) no-repeat center center, linear-gradient(to bottom, rgb(184, 195, 255), rgba(255, 245, 209));
    background-size: 80px;
}

.evt-btn6 {
    background: url(../images/ball.svg) no-repeat center center;
    background-size: 80px;
}

.evt-btn6:hover {
    background: url(../images/ball-on.svg) no-repeat center center, linear-gradient(to bottom,  rgb(184, 195, 255), rgba(255, 245, 209));
    background-size: 80px;
}

/* 이벤트 박스2 */
.evt-box2 {
    margin-top: 100px;
    position: relative;
}

.evt-text h4 {
    font-family: paperlogy;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
}

.evt-text h4::before {
    position: absolute;
    content: "📢";
    left: -30px;
}

.event_slide {
    margin-top: 40px;
}

.event_slide img {
    display: block;
}

.evt-box2 .swiper-button-next,
.evt-box2 .swiper-button-prev {
    z-index: 99;
    top: 67.5%;
    transform: translateY(-50%);
    position: absolute;
    display: block;
}

.evt-box2 .swiper-button-next:after,
.evt-box2 .swiper-button-prev:after {
    display: none;
}

.evt-box2 .swiper-button-next {
    left: -40px;
    transform: translate(50%, -50%);
}

.evt-box2 .swiper-button-prev {
    left: 98.5%;
    transform: translate(-50%, -50%);
}

/* 이벤트 박스3 */
.evt-box3 {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.evt-box3 li a {
    display: block;
    background-color: #F6F6F6;
    width: 433px;
    padding: 20px 0;
    color: #333;
    font-family: paperlogy;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    border-radius: 10px;
}

.evt-box3 li a:hover {
    background-color: #FFECAE;
}

.evt-box3 li:nth-child(1) a::before {
    content: url(../images/icon-box.png);
    position: absolute;
    left: 155px;
}

.evt-box3 li:nth-child(2) a::before {
    content: url(../images/icon-star.png);
    position: absolute;
    top: 38%;
    left: 145px;
}

.evt-box3 li:nth-child(3) a::before {
    content: url(../images/icon-confetti.png);
    position: absolute;
    left: 136px;
}


/* 스크롤 조정 */
.simply-scroll {
    margin: 0;
    min-width: 1920px;
    height: 100%;
}

.simply-scroll-list {
    overflow: hidden;
}

.simply-scroll .simply-scroll-clip {
    min-width: 1920px;
    height: auto;
}

.simply-scroll .simply-scroll-list li {
    width: auto;
    height: 100%;
    padding: 0 10px;
}

.scroll_content a img {
    display: block;
    width: 500px;
}

.scroll_content {
    display: flex;
    margin: auto;
}

/* 시설 안내 */
#fac {
    width: 1920px;
    margin: auto;
}

.fac_in {
    margin: 0 auto;
    background-color: rgba(246, 246, 246, 0.5);
}

.fac_box {
    height: 660px;
    display: flex;
    justify-content: space-between;
}

.fac_box img {
    min-width: 960px;
    width: 100%;
    height: auto;
}

.fac_box .fac_right .fac_left {
    text-align: center;
    width: 50%;
}

.fac_left {
    margin-left: 100px;
}

.fac_left h1 {
    margin: 100px 0 15px;
}

.fac_slide_L {
    width: 630px;
    margin-right: 30px;
}

.fac_slide_L,
.fac_slide_R {
    cursor: pointer;
}

.fac_text h3 {
    margin: 75px 0 15px;
}

.fac_text p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
}

/* 시설 하단 스크롤바 */
.fac-var-box {
    width: 1320px;
    margin: 30px auto 0;
}

.fac-var {
    width: 740px;
    margin: auto;
    display: flex;
    gap: 45px;
    align-items: center;
}

.swiper-scrollbar {
    background: var(--swiper-scrollbar-bg-color, rgba(238, 238, 238, 0.5));
    border-radius: var(--swiper-scrollbar-border-radius, 50px);
}

.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
    width: 630px;
    height: 8px;
    position: static;
}

.swiper-scrollbar-drag {
    background: var(--swiper-scrollbar-drag-bg-color, #333);
    border-radius: var(--swiper-scrollbar-border-radius, 50px);
}

.fac-counter {
    width: 49px;
    padding: 5px 0;
    background-color: #333;
    border-radius: 50px;
    color: #F6F6F6;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}

/* 예약안내 */
#reserve {
    width: 1920px;
    margin: auto;
    overflow: hidden;
}

.res-text {
    margin: auto;
    width: 1320px;
    margin-bottom: 60px;
}

.res-text h1 {
    margin-bottom: 20px;
    position: relative;
}

.res-text h1::before {
    content: url(../images/icon-backpack.png);
    position: absolute;
    left: -40px;
    top: 4px;
}

.reserve-box {
    position: relative;
    width: 100%;
    background: url(../images/rs_back.png) no-repeat center center;
    background-size: cover;
    padding: 60px 0 150px;
}

.res-top {
    width: 894px;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
}

.res-top-L-box {
    background: #FDFCFA;
    padding: 68px 53px;
    width: 447px;
    height: 530px;
    box-sizing: border-box;
}

.room-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.swiper-slide-active {
    opacity: 1;
    visibility: visible;
}

.res-top-L h4 {
    font-family: paperlogy;
    font-weight: 500;
    font-size: 16px;
    margin: 22px 0 5px;
}

.res-top-icon {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.res-top-icon img {
    display: block;
}

.room-img {
    width: 447px;
    height: 530px;
}

/* 버튼 */
.res-top .swiper-button-next,
.res-top .swiper-button-prev {
    z-index: 99;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.res-top .swiper-button-next:after,
.res-top .swiper-button-prev:after {
    display: none;
}

.res-top .swiper-button-next {
    right: 0;
    transform: translate(50%, -50%);
}

.res-top .swiper-button-prev {
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 예약폼 */
.res-bottom {
    position: absolute;
    width: 979px;
    padding: 32px 48px;
    box-sizing: border-box;
    background-color: #e6e6e6;
    border-radius: 10px;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}

.res-bottom h2 {
    padding-bottom: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 500;
}

.form-box {
    width: 100%;
    display: flex;
}

.form input,
.form select,
.pet_select {
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    background-color: #FDFCFA;
    border-radius: 5px;
    padding: 10px 14px;
    height: 46px;
    box-sizing: border-box;
    align-items: center;
}

#date-summary,
#daterange,
#people-select,
.pet_select {
    font-family: pretendard;
    font-weight: 300;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.6);
}

/* 날짜 */
.date-box {
    display: inline-block;
    margin-right: 10px;
    box-sizing: border-box;
    width: 275px;
    padding-left: 30px;
    background: url(../images/icon_calendar.png) no-repeat 14px center;
    background-color: #FDFCFA;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}

#daterange {
    width: 140px;
    margin-left: 10px;
    padding-right: 0;
    border: 0;
}


/* 인원 */
#people-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 215px;
    background: url(../images/icon_person.png) no-repeat 14px center;
    background-color: #FDFCFA;
    padding-left: 50px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
}

#people-select::-ms-expand {
    display: none;
}

/* 반려동물 */
.pet_select {
    display: inline-block;
    width: 200px;
}

.pet_select div {
    position: relative;
    align-items: center;
    display: flex;
}

.pet_select p {
    margin-left: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    margin: 0;
    border: none;
    outline: none;
    background: url(../images/icon_check.png) no-repeat center center;
    cursor: pointer;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-image: url(../images/icon_checkon.png);
}

/* 예약 버튼 */
input[type="submit"] {
    width: 162px;
    height: 45px;
    box-sizing: border-box;
    background-color: #162660;
    color: #FDFCFA;
    font-family: paperlogy;
    font-weight: 400;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #F78D31;
}

/* 예약 안내 */
.res-notice {
    width: 100%;
    background-color: #FAF5EF;
}

.res-notice-flex {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.res-notice-flex h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 28px;
}

.res-notice-icon {
    margin-left: 24px;
    display: flex;
    gap: 28px;
}

.res-notice-icon img {
    display: block;
}

.res-notice-R p {
    font-size: 16px;
    font-weight: 400;
}


/* 환불규정, 유의사항 */
#community {
    width: 1320px;
    margin: auto;
}

.notice {
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.notice_L,
.notice_R {
    width: 630px;
}

.notice_L h1 {
    background: url(../images/icon_moneny.png) no-repeat 23% 30%;
    margin-bottom: 35px;
    color: #333;
}

.notice_R h1 {
    background: url(../images/icon_warning.png) no-repeat 22% 30%;
    margin-bottom: 35px;
    color: #333;
}

.nt_L2 {
    margin: 40px 0 33px;
}

.nt_R2 {
    margin: 20px 0 53px;
}

.notice_text h3 {
    font-size: 16px;
    color: #162660;
    font-weight: 500;
    margin-bottom: 10px;
}

.gray {
    color: #999;
}

.orange {
    color: #f78d31;
}

.notice a {
    display: inline-block;
    font-family: 'Paperlogy';
    width: 170px;
    padding: 10px 0;
    border: 1px solid #162660;
    color: #333;
    font-weight: 400;
    text-align: center;
}

.notice a:hover {
    color: #F6F6F6;
    background-color: #162660;
    font-weight: 500;
}

/* 상담, 위치안내 */
/* 상담 위치안내 */
.call_map {
    display: flex;
    justify-content: space-between;
    margin: 75px 0 0;
}

.call_map div {
    border: 1px solid #D9D9D9;
    width: 650px;
    padding: 40px;
    text-align: left;
    box-sizing: border-box;
}

.call p:nth-child(2),
.map p:nth-child(2) {
    margin: 25px 0 10px;
    font-size: 18px;
}

.call {
    background: url(../images/icon_call.png) no-repeat 93% center;
}

.map {
    background: url(../images/icon_map_search.png) no-repeat 93% center;
}

/* 자주묻는질문 */
.q_a {
    width: 1320px;
    margin: auto;
    text-align: left;
}

.qa-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;
}

.qa-search-box {
    display: flex;
    align-items: center;
    border: 1.5px solid #bbb;
    border-radius: 50px;
    padding: 5px 20px;
    width: 390px;
    box-sizing: border-box;
    gap: 30px;
}

.search-icon {
    width: 29.55px;
    height: 29.55px;
}

.qa-search {
    border: none;
    outline: none;
    font-size: 16px;
    color: #bbb;
    filter: opacity(0.8);
}

.main_qa {
    width: 1320px;
}

.main_qa li {
    width: 100%;
}

.main_qa li a {
    border-top: none;
    display: block;
    display: flex;
    padding: 15px 0 15px 40px;
    color: #333;
    background: url(../images/icon_Plus.png) no-repeat 93% center;
    border: 1px solid #162660;
    border-bottom: none;
}

.main_qa li:nth-child(4) a {
    border-bottom: 1px solid #162660;
}

.main_qa li div {
    display: none;
    width: 100%;
    border-top: none;
    background-color: #F6F6F6;
    padding: 30px 40px;
    box-sizing: border-box;
    border: #162660 1px solid;
    border-bottom: none;
}

.main_qa li:nth-child(4) div {
    border-bottom: 1px solid #162C60;
}

.main_qa li:hover a {
    color: #F6F6F6;
    background: url(../images/icon_Plus_hover.png) no-repeat 93% center #212C54;
}

.main_qa li.qa_on a {
    color: #F6F6F6;
    background: url(../images/icon_Plus_hover.png) no-repeat 93% center #212C54;
}

.main_qa li a h2 {
    font-size: 20px;
    font-weight: 600;
}

.main_qa li a h2:nth-child(2) {
    margin-left: 90px;
}

.main_qa li div p {
    font-size: 16px;
    margin-bottom: 15px;
}

.main_qa li:nth-child(4) div p,
.main_qa li:nth-child(1) div p:nth-child(2),
.main_qa li:nth-child(2) div p:nth-child(2) {
    margin-bottom: 0;
}

.main_qa li div iframe {
    width: 100%;
    height: 530px;
    border: 1px solid #162C60;
    margin-top: 15px;
}

/* 하단 이벤트 */
.evt_bottom {
    padding: 150px 0 60px;
    position: relative;
    width: 1920px;
    margin: auto;
}

.evt_bottom a {
    display: block;
    position: absolute;
    top: 73%;
    left: 22.1%;
    padding: 3px 30px;
    font-family: paperlogy;
    font-weight: 300;
    font-size: 13px;
    background-color: #F78D31;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 600;
}

.evt_bottom a:hover {
    background-color: #FFB22B;
}


/* 푸터 */
#footer {
    width: 1920px;
    background-color: #162660;
    margin: 75px auto 0;
    padding: 50px 0;
}

.footer_in {
    width: 1320px;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo {
    width: 660px;
    height: 64px;
    text-align: center;
}

.footer_logo img {
    width: 69px;
}

.footer_in img {
    display: inline-block;
}

.footer_text {
    width: 660px;
    color: #e0e0e0;
    text-align: left;
    font-size: 13px;
    line-height: 20px;
}

.footer_text p:nth-child(2) {
    margin: 20px 0 25px;
}

.footer_text ul {
    width: 660px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_text ul li a {
    color: #e0e0e0;
}

.footer_text ul li a:hover {
    color: #FBBB48;
}

.footer-icon img {
    display: block;
    width: 28px;
    height: 28px;
    filter: grayscale(1);
}

.footer-icon:hover img {
    filter: grayscale(0);
}

/* 상단 바로가기 */
.top-btn {
    position: fixed;
    display: block;
    bottom: 25px;
    right: 80px;
    z-index: 999;
}